<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="../vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="exercise">
    <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class 
      on each new setInterval tick (attach respective class to the div with id "effect" below) -->
    <div>
      <button @click="startEffect">Start Effect</button>
      <div id="effect" :class="effects"></div>
    </div>


    <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
    <div :class="[tColor, tFont]">I got no class :(</div>
    <!-- 3) Let the user enter a class (create some example classes) and attach it -->
    <div>
      <input type="text" v-model="user">
      <div :class="[{size: true}, user]"></div>
    </div>
    <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
    <div>
      <input type="text" v-model="user">
      <input type="text" v-model="noSize">
      <div :class="[{size: noSize}, user]"></div>
    </div>
    <!-- 5) Repeat 3) but now with values for styles (instead of class names). 
      Attach the respective styles.  -->
    <div>
      <input type="text" v-model="style.backgroundColor">
      <div :style="style"></div>
    </div>
    <!-- 6) Create a simple progress bar with setInterval and style bindings. 
      Start it by hitting the below button. -->
    <div>
      <button @click="startProgress" >Start Progress</button>
      <div :class="['progress-bar']" :style="progressBar"></div>
    </div>
  </div>
</body>
<script src="app.js"></script>
</html>


